# Class 3

* If and else statements

In [1]:
age = 18
if age < 18:
  print("You are not eligible to vote")

In [2]:
num = 11
if num % 2 == 0:
  print("Even number")
else:
  print("Odd number")

Odd number

In [3]:
marks = 85
if marks >= 90:
  print("Grade A")
elif marks >= 80:
  print("Grade B")
elif marks >= 70:
  print("Grade C")
elif marks >= 60:
  print("Grade D")

Grade B

In [4]:
num = 15
if num > 10:
  if num % 2 == 0:
    print("Even number greater then 10")
  else:
    print("Odd number greater then 10")

Odd number greater then 10

In [5]:
is_adult = True
has_voter_id = False
if is_adult and has_voter_id:
  print("You are eligible to vote")
else:
  print("You are not eligible to vote")

You are not eligible to vote

In [6]:
age = 28

message = "Adult" if age >= 18 else "Minor"
print(message)

Adult

* Match Case

In [7]:
color = "yellow"

match color:
  case "red":
    print("Stop")
  case "yellow":
    print("Get Ready")
  case "green":
    print("Go")
  case _:
    print("Invalid color")

Get Ready

* Iterating over a list

In [8]:
fruits = ["apple","banana","cherry","orange"]

for fruit in fruits:
  print(fruit)

apple
banana
cherry
orange

* Iterating over a string

In [9]:
for char in "PlusW":
  print(char)

P
l
u
s
W

* Iterating over a dictionary

In [12]:
person = {"Name":"ureel","Age":21,"City":"Karachi","Gender":"female","Program":"BSCS"}

for key,value in person.items():
  print(f"{key} : {value}")

Name : ureel
Age : 21
City : Karachi
Gender : female
Program : BSCS

* Iterating over a range of numbers

In [13]:
for i in range(10):
  print(i)

0
1
2
3
4
5
6
7
8
9

* Custom range with start , stop and step

In [14]:
for i in range(1,10,3):
  print(i)

1
4
7

In [15]:
count = 0
while count < 5:
  print(f"Count : {count}")
  count += 1
  print(f"After increment : {count}")

Count : 0
After increment : 1
Count : 1
After increment : 2
Count : 2
After increment : 3
Count : 3
After increment : 4
Count : 4
After increment : 5

* Infinte Loops and Breaking Conditions

In [16]:
while True:
  user_input = input("Enter 'quit' to exit :")
  if user_input.lower() == 'quit':
    print("Exiting Loop")
    break

Enter 'quit' to exit :quit
Exiting Loop

Break Statement , Continue Statement and pass Statement Loop Control Statement

In [17]:
for i in range(10):
  if i == 5:
    print("Breaking Loop")
    break
  print(i)

0
1
2
3
4
Breaking Loop

In [18]:
for i in range(10):
  if i % 2 != 0:
    continue
  print(i)

0
2
4
6
8

In [19]:
for i in range(5):
  print (f"Processing {i}")
  if i == 3:
    pass # Placeholder
    print (f"Processing {i}")

Processing 0
Processing 1
Processing 2
Processing 3
Processing 3
Processing 4

* Looping inside loop

In [20]:
for i in range(3):
  for j in range(2):
    for h in range(2):
      print(f" i = {i} | j = {j} | h = {h}")

 i = 0 | j = 0 | h = 0
 i = 0 | j = 0 | h = 1
 i = 0 | j = 1 | h = 0
 i = 0 | j = 1 | h = 1
 i = 1 | j = 0 | h = 0
 i = 1 | j = 0 | h = 1
 i = 1 | j = 1 | h = 0
 i = 1 | j = 1 | h = 1
 i = 2 | j = 0 | h = 0
 i = 2 | j = 0 | h = 1
 i = 2 | j = 1 | h = 0
 i = 2 | j = 1 | h = 1

* Practical Example: Multiplication

In [21]:
for i in range(1,10):
  for j in range(1,4):
    print(f"{i} x {j} = {i*j}")
  print("==========")

1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
==========
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
==========
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
==========
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
==========
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
==========
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
==========
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
==========
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
==========
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
==========

* Using else with loops

In [22]:
for num in range(5):
  print(num)
else:
  print("Loop Completed Successfully")

0
1
2
3
4
Loop Completed Successfully

In [23]:
for num in range(5):
  if num == 3:
    print("Breaking the loop")
    break
  print(num)

else:
  print("Loop completed without breaking")

0
1
2
Breaking the loop

In [24]:
nums = [1,2,3,4,5]
search = 3
for num in nums:
  if num == search:
    print(f"{search} Found in the list")
    break
else:
  print(f"{search} Not Found in the list")

3 Found in the list

* Functions

In [25]:
def greet():
  print("Hello Python")

In [26]:
def greet_user(name):
  print(f"Hello {name}")

In [27]:
greet()

Hello Python

In [28]:
greet_user("ureel")

Hello ureel

In [29]:
def add(a,b):
  return a+b
def display_info(name,age):
  return(f"Name : {name} | Age : {age}")

In [30]:
print(add(5,10))

15

In [31]:
print(display_info("ureelr",21))

Name : ureelr | Age : 21

In [32]:
def calculate(a,b):
  return a+b , a-b

In [33]:
sum , diff = calculate(10,20)
print(f"Sum : {sum} | Diff : {diff}")

Sum : 30 | Diff : -10

In [34]:
def greet(name , greeting):
  return f"{greeting} {name}"

print(greet(greeting = "Hello",name = "ureel"))

Hello ureel

In [35]:
def greet(name = "Ali", greeting = "Hey"):
  return f"{greeting} {name} !!!"

print(greet(greeting = "Hello",name = "ureel"))
print(greet( "ureel"))
print(greet())

Hello ureel !!!
Hey ureel !!!
Hey Ali !!!

* Arbitary Arguments

In [36]:
def print_arg(*args):
  for arg in args:
    print(arg)

print_arg(1,2,3,4,5,6,7,8,9)

1
2
3
4
5
6
7
8
9

In [38]:
def print_kvargs(**kvargs):
  for key, value in kvargs.items():
    print(f"{key} : {value}")

print_kvargs(name = "ureel", age = 21, city = "Karachi")

name : ureel
age : 21
city : Karachi

* Lamda function

In [ ]:
square = lambda x : x**2
print(square(10))

100